<template>
    <div>
        <li class="list-group-item" :class="className">
            <slot class="text-center"></slot>
            <span id="time" class="float-right">{{ time }}</span>
        </li>
        <small class="badge badge-pill" :class='badgeClass'>{{ user }}</small>
    </div>
</template>

<script>
    export default {
        props:[
            'color',
            'user',
            'time',
        ],
        computed:{
            className(){
                return 'list-group-item-'+this.color;
            },
            badgeClass(){
                return 'badge-'+this.color;
            }
        },
    }
</script>
<style>
    #time{
        font-size: 9px;
        margin-top: 10px;
        color: black;
    }
</style>