<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <textarea rows="10" class="form-control" readonly="">{{messages.join("\n")}}</textarea>
                <hr>
                <input type="text" class="form-control" v-model="textMessage" @keyup.enter="sendMessage">
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                messages: [],
                textMessage: ''
            }
        },
        mounted() {
            window.Echo.private('chat.2').listen('PrivateMessage', ({data}) => {
                this.message.push(data.body)
            });
        },
        methods:{
            sendMessage(){
                axios.post('/private_messages', {body: this.textMessage, room: 2});
                this.messages.push(this.textMessage);
                this.textMessage = "";

            }
        }
    }
</script>
