<template>
	<div>
		<li class="list-group-item">
			<img src="../icons8-user-50.png" alt="Иконка пользователя" class="icon_user">
			<slot></slot>
		</li>
	</div>
</template>

<script>
	export default {
		props:[
			'color',
			'user'
		],
	}
</script>

<style scoped>
	.icon_user{
		max-height: 30px;
		width: auto;
		margin-right: 1rem;
	}
	.list-group-item{
		margin-bottom: 0.5rem ;
	}

</style>